/*Adjusting spacing after navbar*/
.navbar {
	margin-bottom: 0px;
}

/*Styling homepage image and text*/

.img-container {
	position: relative;
}

.img-text {
	position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: left;
    font-size: 18px;
}

.span {
    text-align: center;
}