{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<div class="wrapper">
					<nav class="navbar navbar-default">
					  <div class="container">
						    <!-- Brand and toggle get grouped for better mobile display -->
						    <div class="navbar-header">
						      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-main" aria-expanded="false">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						      </button>
							<div class="navbar-brand hdr-logo" role="banner">
							<a class="hdr-logo-link" href="{{site.siteurl}}" rel="home">{{site.name}}</a>
							</div>
						    </div>
						
							<nav id="nav-main" class="nav-main collapse navbar-collapse" role="navigation">
								{% include "menu.twig" with {'menu': menu.get_items} %}
							</nav><!-- #nav -->
						</div>
					</nav>
				</div><!--end wrapper-->
			{% endblock %}
		</header>

	
		<section id="content" role="main" class="">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="">
				{{sidebar_class}}
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer" class="container">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
