{% extends "base.twig" %}


{% block content %}

<div class="img-container">
	<img src="{{ theme.link }}/assets/img/homepage-img.jpg" width="100%">
	<div class="img-text container">
		<h1>CUSTOM WEBSITES</h1>
	  	<p class="lead">Built for Exactly your Needs!</p>
	  	<p><a class="btn btn-primary btn-lg" href="#" role="button">Let's get started!</a></p>
	</div>
</div>

<div class="container">
	<h2><span class"text-center">Recent Projects</span></h2>


<div class="well">
	<img src="{{ theme.link }}/assets/img/kruegerscarpet.png" width="100%">
</div>
<div class="well">
	<img src="{{ theme.link }}/assets/img/millers.png" width="100%">
</div>
<div class="well">
	<img src="{{ theme.link }}/assets/img/organicgreens.png" width="100%">
</div>
<div class="well">
	<img src="{{ theme.link }}/assets/img/cleanbluelaundry.png" width="100%">
</div>
</div>

<div class="container"><h2>Full Website Packages</h2></div>

<div class="well">
	<dl>
	  <dt class="text-center">Package 1</dt>
		<dd class="h3 text-center">$1000</dd>
		<dd>Complete 5-10 page Website perfect for small to mid-size busniess.</dd> 
		<dd>Includes: Content Management system</dd>
		<dd>Limited copy and stock photos</dd>
		<dd>Basic Contact Form</dd>
		<dd>Blog</dd>	
	</dl>
	<button type="button" class="btn btn-default">Learn More</button>
</div>
<div class="well">
	<dl>
	  <dt class="text-center">Package 2</dt>
		<dd class="h3 text-center">$2000</dd>
		<dd>Includes everything in package 1 and "Instant Quote System."</dd>
	</dl>
	<button type="button" class="btn btn-default">Learn More</button>
</div>
<div class="well">
	<dl>
	  <dt class="text-center">Package 3</dt>
		<dd class="h3 text-center">$3000-5000</dd>
		<dd>Completly customized Website.</dd> 
	</dl>
	<button type="button" class="btn btn-default">Learn More</button>
</div>
<div class="container text-center">
  		<button type="button" class="btn btn-success">START YOUR WEBSITE PROJECT</button>
</div>

{% endblock %}
