{% extends "base.twig" %}

{% block content %}
<div class="container">
	<h2><span class"text-center">Recent Projects</span></h2>


<div class="well">
	<img src="{{ theme.link }}/assets/img/millers.png" width="100%">
	<div class="lead">MILLER WINDOW SERVICE</div>
	<div><p>I created this site for a long time friend who owns a successful family owned window cleaning business. It contains a form that customers can use to calculate the cost it would be to have their windows or siding cleaned. I trained one of Seth’s staff members to edit the site themselves, so they can update pictures and special offers. As with all the websites I create it is “responsive,” so it looks great on tablets and other mobile devices.</p></div>
	 <blockquote>
    <p>We started working with Isaac in the spring of 2015. We were in a bit of a bind as we had a bad experience with the previous company who hosted our webpage and business emails. For our company spring is one of the busiest seasons and we couldn’t afford to have our website down for any length of time. Isaac got our new webpage up and running quickly so that our customers weren’t really affected. He even coordinated with the company who took over hosting our business emails so that the transition was seamless. Throughout the entire process, he listened to the concerns we had for our company and how the new webpage would affect business. He was able to tailor it to our company, our area and our potential customers. After it was set up, he gave us some basic training so that we could also manage and edit the webpage on our own. All in all, we were very pleased with Isaac’s knowledge and professionalism. I would definitely recommend his services to friends.</p>
    <footer>-Seth Miller, <cite title="Source Title">Owner of Miller Window Service.</cite></footer>
  </blockquote>
</div>

<div class="well">
	<img src="{{ theme.link }}/assets/img/kruegerscarpet.png" width="100%">
	<div class="lead">Some text</div>
	<div><p>Some paragraph text</p></div>
	 <blockquote>
    <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
    <footer>From WWF's website</footer>
  </blockquote>
</div>
<div class="well">
	<img src="{{ theme.link }}/assets/img/organicgreens.png" width="100%">
	<div class="lead">ORGANIC GREENS</div>
	<div><p>I created this site for James Nisly of Kalona Iowa. He grows organic sprouts and other organic food. He wanted a website to increase his exposure and have a way to display his products. He also requested a few pages be password protected so that he could provide specialized pricing and products to select groups. Another feature of the site is that each of the locations he sells to are linked to google maps. This enables his customers to find out where he sells his products. Additionally, the website is ready to be converted into an online store when he is ready.</p></div>
	 <blockquote>
    <p>I am very happy that I chose to work with Isaac to develop my website.
Besides doing a great job, Isaac is a great person to work with. He is very
courteous and caring, knowledgeable and professional. I highly recommend him
as a website designer.</p>
     <footer>James Nisly <cite title="Source Title">Owner of Organic Greens.</cite></footer>
  </blockquote>
</div>
<div class="well">
	<img src="{{ theme.link }}/assets/img/cleanbluelaundry.png" width="100%">
	<div class="lead">CLEAN BLUE LAUNDRY</div>
	<div><p>This site was created for Clean Blue Laundry. The owners wanted a clean mobile friendly site that contained a map, a coupon, and an overview of their services.</p></div>
	 <blockquote>
    <p>We are very pleased with our website. We were in need of a updated, responsive website that would work well on mobile devices as well as desktops. We were also in need of a map, a custom coupon and a simple look that would reflect our new branding. I highly recommend using Isaac as a web designer/developer. He is an excellent communicator and trustworthy.</p>
     <footer>Alan Wolfgang. <cite title="Source Title">Owner/Partner of Clean Blue Laundry.</cite></footer>
  </blockquote>
</div>
</div>
{% endblock %}